//Text variables
$html-fz:10px;
$body_fw:400;
$fw-800:800;
$font-sans-serif: system-ui,
-apple-system,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
"Liberation Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";
$ff-garamon:'EB Garamond',
serif;
$ff-playfair:'Playfair Display',
serif;
$ff-poppins:'Poppins',
sans-serif;
$ff-roboto:'Roboto',
sans-serif;
// Color
$general:#4D4D4D;
$black:#000000;
$orange:#FFA62B;
$sections_bg:#F8F8F8;
$white:#ffffff;